
#list p.active {
    color: red;
    text-decoration: none;
}

#list p.completed {
    color: grey;
    text-decoration: line-through;
}

.Btn:hover {
    background:yellow;

}
.Btn{
    background: gray;
}

.act{
    background: blue;
}